<h1>About</h1>
<p>
  I can research information Framgia in Japan<a href="http://framgia.com/jp/">
  <em>Framgia in Japan</em></a> or Framgia in VietNam
  <a href="http://recruit.framgia.vn">Framgia in VietNam</a>
</p>