<div class="center jumbotron">
  <h1>WELCOME TO BLOG FRAMGIA</h1>
  <h2>This is home page for the 
    <a href="http://recruit.framgia.vn/"></a>FRAMGIA</h2>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to image_tag("fram2.jpg", alt: "Framgia logo"), 
      "http:http://recruit.framgia.vn/" %>
</div>