<div class="row">
  <aside class="col-md-4">
    <section class="entry_info">
      <h1>
        <%= link_to @comment.user.name %></br>
        <%= link_to @comment.content %></br>
        <%= @comment.date_entry %></br>
      </h1>
    </section>
  </aside>
</div>